  									/*		DEFAULT		*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body *{
	transition: 0.3s;
}
									/*	   Header  	*/

header{
	width: 100%;
	height: 100vh;
	background-image: url(Images/home.png),url(Images/bg1.jpg);
	background-size: 50% 100%, cover;
	background-position: right,center;
	background-repeat: no-repeat,no-repeat;
	clip-path: polygon(50% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
	background-attachment: fixed;
}

.logo{
	color: white;
	font-size: 60px;
	padding-left: 100px;
	letter-spacing: 5px;
}

.logo span{
	color: #ffaa15;
}

.menu{
	margin-right: 100px;
}

.menu a{
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}

.menu a:hover{
	background: #ffaa15;
	transition: 0.4;
	border-radius: 3px;
}

nav{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text{
	color: white;
	margin-top: 100px;
	margin-left: 100px;
	max-width: 450px;
}

.text h1{
	font-size: 50px;
	margin: 10px 0px;
}

.text p{
	font-size: 25px;
}

#ani{
	color: #ffaa15;
	font-size: 20px;
}

#ani2{
	color: #ffaa15;
	font-size: 20px;
}



.cbtn{
	border: none;
	outline: none;
	color: white;
	background: #ffaa15;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 2px 3px 5px grey;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
	cursor: pointer;
}

.cbtn:hover, .cbtn:focus, .cbtn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform : scale(1.1);
	transform: scale(1.1);
	background-color: darkorange;
}

.scrolldown{
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 40px;
	height: 40px;
	background: #fff;
	transition: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	animation: animate 1.5s linear infinite;
}

									/* 	 	About  		*/

#about{
	padding: 100px 50px;
}

.sec-info{
	font-weight: bold;
	text-align: center;
}

.sec-info h1{
	font-size: 50px;
}

.sec-info p{
	font-size: 25px;
	color: #ffaa15;
}

.about-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.about-left-col{
	flex-basis: 50%;
}

.about-left-col img{
	width: 100%;
	padding: 50px;
}

.about-right-col{
	flex-basis: 50%;
}

#p-title{
	font-size: 20px;
	font-weight: bold;
}

.about-right-col p{
	font-size: 20px;
	text-align: justify;
}

										/*	 Education   */

#edu{
	padding: 100px 50px;
	background: linear-gradient(204deg, #ffaa15 45%, white 0%);
}

.edu-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.edu-left-col{
	flex-basis: 50%;
}

.edu-left-col img{
	width: 100%;
	height: 630px;
	padding: 50px;
}

.edu-right-col{
	flex-basis: 50%;
}

.edu-right-col img{
	width: 100%;
	height: 620px;
	padding: 30px;
}

										/*Skills*/

#skills{
	padding: 100px 50px;
	background: url(Images/bg2.jpg);
	background-size: cover;
	color: white;
	background-attachment: fixed;
}

.skills-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: rgb(45,52,54);
	padding: 50px;
}

.skills-left-col{
	flex-basis: 50%;
	text-align: justify;
}

.skills-left-col p{
	font-size: 25px;
}

.skills-left-col ul{
	font-size: 20px;
}

.skills-left-col ul li{
	list-style: circle;
}

.skills-right-col{
	flex-basis: 50%;
}

progress{
	width: 80%;
}

.progress-div{
	width: 70%;
	margin: auto;
}

.progress-div p{
	margin-bottom: 5px;
	font-size: 20px;
	padding-left: 80px;
	text-align: justify;
}

											/*Services*/

#services{
	padding: 100px 50px;
}

.services-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.service-box{
	flex-basis: 25%;
	text-align: center;
	box-shadow: 2px 3px 5px lightgray;
	padding: 20px;
	margin-top: 20px;
}

.service-box:hover{
	background: #ffaa15;
	color: white;
	transition: 0.4s;
	box-shadow: 4px 6px 4px grey; 
	border-radius: 7px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform : scale(1.1);
	transform: scale(1.1);
}

.service-box img{
	width: 60%;
}

										/* Tools */

#tech{
	padding: 100px 50px;
	background: linear-gradient(25deg, #ffaa15 49%, white 0%);
}

.tech-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.tech-box{
	flex-basis: 33.33%;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}

.tech-box:hover{
	box-shadow: 2px 3px 5px lightgray;
}

.tech-box img{
	width: 40%;
}

		/* Certifications */

#cer{
	padding: 100px 50px;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(340deg, #ffaa15 45%, white 0%);
}

#cer-sec{
	margin-top: 10px;
}

.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 800px;
	height: 500px;
}

.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 3px solid #ffaa15;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #ffaa15;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

#radio5:checked ~ .first{
	margin-left: -80%;
}

#radio6:checked ~ .first{
	margin-left: -100%;
}

#radio7:checked ~ .first{
	margin-left: -120%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
}

.navigation-auto div{
	border: 3px solid #ffaa15;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #ffaa15;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #ffaa15;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #ffaa15;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #ffaa15;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #ffaa15;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
	background: #ffaa15;
}

#radio7:checked ~ .navigation-auto .auto-btn7{
	background: #ffaa15;
}

										/*Contact*/

#contact{
	padding: 100px 50px;
	background: linear-gradient(160deg, #ffaa15 45%, white 0%);
}

.contact-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contact-left-col{
	flex-basis: 50%;
}

.contact-left-col img{
	width: 100%;
	padding: 50px;
}

.contact-right-col{
	flex-basis: 50%;
}

.contact-right-col form{
	text-align: center;
}

.contact-right-col form h2{
	margin-bottom: 20px;
}

.contact-right-col form input{
	width: 60%;
	padding: 10px;
	margin-bottom: 10px;
}

.contact-right-col form textarea{
	width: 60%;
	padding: 10px;
}

											/*Footer*/

#footer{
	background: #ffaa15;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px; 
}

#backtotop{
	z-index: 999;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
	opacity: .2;
}

#backtotop i{
	display: block;
	widows: 100%;
	height: 100%;
	line-height: inherit;
}

#backtotop.visible{
	visibility: visible;
	opacity: .5;
	background: lightgray;
}

#backtotop:hover{
	opacity: 1;
	background: white;
	font-size: 23px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform : scale(1.1);
	transform: scale(1.1);
}


/*Media Query*/
/*

@media only screen and (max-width:770px){
	header{
		background: url(Images/bg1.jpg);
		background-size: cover;
	}
	
	.menu a{
		display: none;
	}
	
	.logo{
		padding-left: 50px;
	}
	
	.text{
		margin-left: 50px;
	}
	
	.about-left-col{
		flex-basis: 100%;
	}

	.about-left-col img{
		width: 100%;
		padding: 50px;
	}

	.about-right-col{
		flex-basis: 100%;
	}
	
	.skills-left-col{
		flex-basis: 100%;
	}
	
	.skills-right-col{
		flex-basis: 100%;
	}
	
	.progress-div{
		width: 80%;
	}
	.progress-div p{
		margin-bottom: 10px;
		font-size: 18px;
		padding-left: 20px;
		text-align: justify;
	}
	
	.service-box{
		flex-basis: 100%;
		margin-top: 20px;

	}
	.service-box img{
		width: 60%;
	}
	
	.contact-left-col{
		flex-basis: 100%;
	}

	.contact-right-col{
		flex-basis: 100%;
	}
	
	#footer{
		padding: 10px;
		font-size: 10px; 
	}

}*/
